<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Script.Customize_Product_Style"/>
      <class name="Script.Adjustingcollar"/>
      <class name="Script.BuyGiftCrd"/>
      <class name="Script.FeedBack_Customer"/>
      <class name="Script.Customise_Product_Size"/>
      <class name="Script.ReviewGiftCart"/>
      <class name="Script.ProductTOCart"/>
      <class name="Script.Product_WishList_Cart"/>
      <class name="Script.Follow_luxire_Instragram"/>
      <class name="Script.ChangeCountryAddProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
